@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EmployeeCost>
@{
    ViewBag.Title = "Все costs";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Create">Добавить пользователя</a>
    <table class="table">
        <tr><td>EmployeeId</td><td>CostId</td><td>Description</td><td>Confirmation</td><td>Value</td><td>Status</td></tr>
        @foreach (var e in Model)
        {
            <tr><td>@e.EmployeeId</td><td>@e.Id</td><td>@e.Description</td><td>@e.Confirmation</td><td>@e.Value</td><td>@e.Status</td></tr>
        }
    </table>
</div>
